    @media print {
    .this-break-page {
        page-break-after: always;
    }
    table { page-break-after:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }
    footer{bottom: 0;position:fixed;}
}
@print {
    @page :footer {
        display: none
    }@page :header {
        display: none
    }
    .this-break-page {
    page-break-after: always;
    }
}
@page{
    size:portrait;
}
.page-break{
    page-break-after: always;
}
      
        body {
        width: 210mm!important;
        margin: 0 auto; 
        color: #001028;
        background: #fff; 
        font-size: 12px; 
        font-family:Tahoma;
        
        }
            .page-setup
            padding:5px
            }
        header {
            padding: 10px 0;
            margin-bottom: 30px;
            margin-top: 10px;
        }
        .this-container{
            
            width: 100%;
            padding: 4px;
            background-color:white;
            margin-bottom: 30px;
            padding-bottom: 10px;
        }
        .this-container-signature{
            display:inline-block;
            width: 100%;
            padding: 4px;
            background-color: white;
            margin-bottom: 20px;
        }
        .this-titel{
            text-align: center;
            font-weight: 600;
            font-size: 1rem;
        }
        .this-titel-content{
            text-align: left;
            font-weight: 600;
            font-size: 0.85rem; 
        }
        .this-margin{margin:6px!important}
        .this-margin-top{margin-top:6px!important}
        .this-margin-bottom{margin-bottom:6px!important}
        .this-text-content{
            font-size: 10pt;
            font-weight: 400;
        }
        .this-signature-left{
            text-align: left;
            font-weight: 600;
            font-size: 0.85rem;
            width: 40%;
            float: left;
        }
        .this-signature-right{
            text-align: left;
            font-weight: 600;
            font-size: 0.85rem;
            width: 40%;
            float: right;
        }
        .this-footer-printer-infor {
            border: 1pt none Black;
            background-color: #deddcf;
            display: flex;
            ;font-size: 8pt;color:#666666;
            padding:3px;
            font-weight: 600;
        }
        .this-footer-printer-infor > div{
          padding: 2px;
        } 
        .this-text-left{
        text-align: left!important;
        }
        .this-hide-col{
            border: 1px solid white;
        }
        .this-hide-border-left{
            border-left: 1px solid white;
        }
        .this-hide-border-top-left{
            border-top: 1px solid white;
            border-left: 1px solid white;
        }
table {
  border-collapse: collapse;
    width: 100%!important;
}

td {
  border: 1px gray solid;
  padding: 4px;
  width: 5em;
      width: 30%!important;
}
